@import "tailwindcss";
@plugin "daisyui";


/* Customizing the Autofill state */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
   
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.11) inset !important; 
    
   
    -webkit-text-fill-color: rgba(255, 255, 255, 0.719) !important;
    
    
    transition: background-color 5000s ease-in-out 0s;
}